body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffaf0;
  margin: 0;
}
.app {
  width: 82%;
  margin: auto;
}
input {
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 3px;
}
.addTodoinput,
.addTodoButton {
  display: block;
}
.each-task {
  box-shadow: 1px 1px 10px grey;
  width: 100%;
  padding: 6px 0;
  background-color: white;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 3px;
}

.task,
.deleteButton,
.completeButton {
  display: inline-block;
}

.task {
  margin-left: 15px;
  width: 88%;
  font-size: medium;
}

.button {
  border-style: inherit;
  border-radius: 3px;
  margin: 0 5px;
  font-size: medium;
  height: 35px;
  width: 38px;
  background-color: #fff;
}

.addTodoButton {
  font-size: medium;
  border-radius: 3px;
  height: 35px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
}
.deleteButton {
  color: #dd3c4c;
  border-color: #dd3c4c;
}
.deleteButton:hover {
  color: white;
  background-color: #dd3c4c;
  cursor: pointer;
}

.completeButton {
  color: #28a745;
  border-color: #28a745;
}
.completeButton:hover {
  color: white;
  background-color: #28a745;
  cursor: pointer;
}

.addTodoButton:hover {
  background-color: #006ada;
  cursor: pointer;
}

/* https://animista.net */
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scale-in-left {
  -webkit-animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 0.2s 1s both;
  animation: fade-in 0.5s 1s both;
} /* ----------------------------------------------
 * Generated by Animista on 2023-7-29 22:5:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
